
body{
    background-color: gray;
    border: black solid 2px;
    text-decoration: none;
}

.header-pic{
    border: darkslategray 5px;
}

.flex-header{
    display: flex;
    flex: 1;
    border: black solid 2px;
    padding: 20px;


}
.car-list-table{
    border: black 2px solid;
}
.page-mid a{
    text-decoration: none;
}
.page-mid .login-btn{
    padding: 10px;
}



.footer-flex{
    display: flex;
    border: black solid 2px;
    padding: 20px;
}
.car-form{
    border: black solid 5px;
}