
body{
    background-color: gray;
    border: black solid 2px;
    text-decoration: none;
    margin: 5px;
}

.header-pic{
    border: darkslategray 5px;
}

.flex-header{
    display: flex;
    justify-content: space-evenly;
    border: black solid 2px;
    padding: 20px;


}
.car-list-table{
    border: black 2px solid;
}
.page-mid a{
    text-decoration: none;
}
.page-mid .login-btn{
    padding: 10px;
}
.footer{
    margin-bottom: 10px;
}


.footer-flex{
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: black solid 2px;
    padding: 20px;
}
.car-form{
    border: black solid 5px;
}