body{
    border: black solid 2px;
    margin: fill;
}

.header-pic{
    position: absolute;
    width: fit-content;
    margin-bottom: 5px;
}
.flex-header{
    display: flex;
    flex-direction: column;
    border: black solid 2px;

}
.footer-flex{
    display: flex;
    flex-direction: row;
    border: black solid 2px;
}
.car-form{
    border: black solid 5px;
}