<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head">

    <title>create-car</title>
</head>
<body>
<header th:replace="fragments::header">
</header>


<br>
<div class="car-form-table">
    <form id="car-form-submit-btn" action="/submit-car-form" method="post">
<table class="header-table">

    <tr><th>
      <h2>Input the data from the new car!</h2>
    </th>
    </tr>
<!--  todo  th:value="${cars.brand}"
    th:value="${cars.model}"
    th:value="${cars.price}"
 -->
    <tr>
        <td><input type="text" name="brand" id="brand" placeholder="brand"></td>
        <td><input type="text" name="model" id="model" placeholder="model"></td>
        <td><input type="number" name="price" id="price" placeholder="price"></td>
    </tr>

    </table>
        <div id="submit-carform-button"><button type="submit">Create Car</button></div>
        <div id="cancel-btn"><button type="button"><a href="/car-main"></a>Cancel</button></div>



</form>
</div>


<br>
<footer th:replace="fragments::footer">
</footer>
</body>
</html>


