<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head">

    <title>car-list</title>
</head>
<body>
<header th:replace="fragments::header-fragment">
</header>


      <h2>Input the data from the new car!</h2>


      <form action="/car-form" method="post">
        <table class="car-form">
            <thead>
            <tr>
                <td>Car Brand</td>
                <td>Model specs</td>
                <td>Rental Price</td>
            </tr>
            </thead>
            <tr>
                <input type="text" th:name="brand" id="brand" placeholder="brand">
            </tr>
            <tr>
                <input type="text" th:name="model" id="model" placeholder="model">
            </tr>
            <tr>
                <input type="text" th:name="price" id="price" placeholder="price">
            </tr>

            <tr>
                <button type="submit">Create Car</button>
            </tr>
            <tr>
                <a href="/reg-main"><button type="button">Cancel</button></a>
            </tr>
        </table>
      </form>



<footer th:replace="fragments::footer">
</footer>
</body>
</html>


