<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head">

    <title>car-list</title>
</head>
<body>
<header th:replace="fragments::header-fragment">
</header>


      <h2>Input the data from the new car!</h2>
<!--
    <span th:name="${brand}" th:value="${cars.brand}"></span>
    <span th:name="${model}" th:value="${cars.model}"></span>
    <span th:name="${price}" th:value="${cars.price}"></span>
  -->


      <form action="/car-form" method="post">
        <ul>
            <li>
              <label for="brand">Brand</label>
                <input type="text" th:name="brand" id="brand" placeholder="brand">
            </li>
            <li>
               <label for="model">Model</label>
                <input type="text" th:name="model" id="model" placeholder="model">
            </li>
            <li>
                <label for="price">Price</label>
                <input type="text" th:name="price" id="price" placeholder="price">
            </li>

            <li>
                <button type="submit">Create Car</button>
            </li>
            <li>
                <a href="/reg-main"><button type="button">Cancel</button></a>
            </li>
        </ul>
</form>



<footer th:replace="fragments::footer">
</footer>
</body>
</html>


