<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<!-- Bootstrap - CSS only -->
<head th:replace="fragments::head">
       <title>car-list</title>
</head>
<body>
<header th:replace="fragments::header">
</header>


    <table id="car-list-table">
   <tr><th>
     <h4>car_id</h4>
     <h4>model </h4>
     <h4>brand </h4>
     <h4>price </h4>
   </th>
   </tr>
    </table>
<table>
<tr th:each="CarModel:${carModelList}">
        <td th:text="${CarModel.car_id}">
        <td th:text="${CarModel.brand}">
        <td th:text="${CarModel.model}">
   </tr>
</table>
<a href="/cars-main">Return to menu</a>



<footer th:replace="fragments::footer">

</footer>
</body>
</html>