<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head th:fragment="head">
        <link rel="stylesheet" href="/css/mystyle.css">
        <title>template-thymeleaf</title>
    </head>
<body>

<header th:fragment="header-fragment">
    <div id="flex-parent-header">
        <div id="flex-head-1">
        </div>
        <div id="flex-head-2">
        </div>
        <div id="flex-head-3">
        </div>
        <div id="flex-head-4">
            <a href="https://www.github/jesperstroebaek">• gitHub •</a>
        </div>
        <div id="flex-head-5">
            <a href="/contact-form">• send me an Email •</a>
        </div>
    </div>
</header>

 <footer th:fragment="footer">
    <div id="flex-parent-foot">
                <div id="flex-1">
                </div>
                <div id="flex-2">
               </div>
                <div id="flex-3">
                </div>
                <div id="flex-4">
                        <a href="https://www.github/jesperstroebaek">• gitHub •</a>
                </div>
                <div id="flex-5">
                        <a href="/contact-form">• send me an Email •</a>
                </div>
    </div>
                <p>- JESPER S  - DAT21C - KEA • 2022 -</p>
</footer>
</body>
</html>
