<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head th:fragment="head">
        <link rel="stylesheet" href="/css/mystyle.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>thymeleaf-template</title>
    </head>
<body>

<header th:fragment="header">
</header>

        <button>Registration<a href="/customers-main">Customers</a></button>
        <h4><a href="/orders-main">Orders</a></h4>
        <h4><a href="/cars-main">Cars</a></h4>

<div id="navi-bar">
    <ul>
        <li>
            <a href="#">
                <i class="ai-home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <!--	<i class="ai-image"></i>
        -->
                <span>Images</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ai-file"></i>
                <span>Files</span>
            </a>
        </li>
        <li>
            <a href="#">
                <!--			<i class="ai-game-controller"></i>
                    -->
                <span>Games</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ai-bell"></i>
                <span>Books</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="ai-gear"></i>
                <span>Notifications</span>
            </a>
        </li>
        <li>
            <a href="#">
                <!--		<i class="ai-gear"></i>
            -->
                <span>Settings</span>
            </a>
        </li>
        <li>
            <a href="/business-developer">
                <i class="ai-person"></i>
                <span>Profile</span>
            </a>
        </li>
    </ul>


</div>
<footer th:fragment="footer">
    <div id="footer-flex-parent">
        <div id="flex-1">
            <div>
                <a href=""></a>
            </div>
        </div>
        <div id="flex-2">
            <div id="reg-link-btn">
                <button><a href="/reg-main"></a></button>
            </div>
        </div>
        <div id="flex-3">
            <div>
                <a href="https://www.github/jesperstroebaek">• gitHub •</a>
            </div>
            <div>
                <a href="/contact-form">• send me an Email •</a>
            </div>
        </div>
    </div>
    <p>- JESPER S  - DAT21C - KEA • 2022 -</p>
</footer>
</body>
</html>
