<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head">
    <title>index-page</title>
</head>
<body>
<header th:replace="fragments::header-fragmentt">
        <ul>
            <li>
                <a href="/car-main">Registration</a>
            </li>

            <li>
                <a href="/damage-main">Damage and Repairs</a>
            </li>

            <li>
                <a href="/business-dev-main">Business Developers</a>
            </li>
        </ul>
</header>



<footer th:replace="fragments::footer">

</footer>
</body>
</html>