<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head">

</head>
<body>
<header id="header-list">
    <nav class="main-nav" id="main-nav">
        <h1 class="logo">Bilabonnement.dk</h1>

        <ul>
            <li>
                <a href="/car-form" class="active">Registration</a>
            </li>

            <li>
                <a href="/damageAndRepair">Damage and Repairs</a>
            </li>

            <li>
                <a href="/businessDeveloper">Business Developers</a>
            </li>
        </ul>
    </nav>
</header>

<footer th:replace="fragments::#footer-flex-parent"></footer>
</body>
</html>