<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head">
        <title>login-page</title>
</head>
<body>
<header th:replace="fragments::header-fragment">
</header>
<div class="login-form">
<form action="/main-page" method="post">
        <label for="username">UserName</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <button type="submit">Enter!</button>
</form>
</div>
        <footer th:replace="fragments::footer">
        </footer>
</body>
</html>