<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head">
<title>login-page</title>
</head>
<body>
<header th:replace="fragments::header">

</header>
<br>

<form action="/login-submit" method="post" class="login-form">
    <label for="username">UserName</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button type="submit">Enter Application</button>
</form>
<br>
<footer th:replace="fragments::footer">

</footer>
</body>
</html>