<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bilabonnement</title>
</head>
<body>
<header id="header">
  <h1>BilAbonnement.Dk</h1>
    <h4><a href="/customers-main">Customers</a></h4>
    <h4><a href="/orders-main">Orders</a></h4>
    <h4><a href="/cars-main">Cars</a></h4>
    <br>
</header>
<footer>
    <br>
    <p>Project made by JesperS dat21c</p>
    <a href="https://github.com/JesperStroebaek/bilabonnementJesperS">Github Repository</a>

</footer>
</body>
</html>