<!DOCTYPE html>
<html th:replace="fragments::html-tag">
<head th:replace="fragments::head">
</head>
<body>
<header th:replace="fragments::header-fragment"></header>

<form action="/submit-order" method="post">
<input type="text" placeholder="customer id" th:value="${customer_id}" id="customer_id">
<input type="text" placeholder="first_name" th:value="${first_name}" id="first_name">
<input type="text" placeholder="last_name" th:value="${last_name}" id="last_name">
<input type="text" placeholder="car_id" th:value="${car_id}" id="car_id">

<button type="submit">Create Order</button>
</form>

<footer th:replace="fragments::footer"></footer>
</body>
</html>