<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head"><title>registration</title></head>
<body>
    <header th:replace="fragments::header-fragment"></header>
        <h1>Registration</h1>
            <p>Customers,Cars and Orders</p>
        <div class="page-mid">
            <button><a href="/car-form" type="button">Create a New Car</a></button>
            <button><a href="/car-list" type="button">Car List</a></button>
            <button><a href="/search-car-form">Find Car by ID</a></button>
        </div>
    <footer th:replace="fragments::footer"></footer>
</body>
</html>