<!DOCTYPE html>
<html th:fragment="html-tag" lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head">
        <title>search-form</title>
</head>
<body>
<header th:replace="fragments::header-fragment"></header>
<div class="page-mid">
   <h3>search-car-form</h3>
    <div class="page-mid">
        <p>
            Fill in known data and hit 'find car'..
        </p>


        <form class="car-search-form" th:object="${car}" th:action="@{/search-car-result}" method="get">
            <table>
            <tr>
                <input type="number" min="1" th:field="*{car_id}" id="car_id" placeholder="car id">
            </tr>

            <tr>
                <button type="submit">Find Car</button>
            </tr>

            <!-- <tr th:each="carModelList:${cars}">
                <td th:text="${cars.car_id}"/>
                <td th:text="${cars.brand}"/>
                <td th:text="${cars.model}"/>
                <td th:text="${cars.price}"/>
            </tr> -->


        </table>
        </form>


        <button><a href="/reg-main">Return to menu</a></button>

    </div>


</div>
<footer th:replace="fragments::footer"></footer>
</body>
</html>