<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="fragments::head">
    <title>return-test-form</title>
</head>
<body>
<header th:replace="fragments::header-fragment">
</header>
<form action="/car-form" method="post">
  <table>

    <tr>
      <input type="text" th:name="order_id" id="order_id" placeholder="Order ID">
    </tr>
    <tr>
      <input type="text" th:name="car_id" id="car_id" placeholder="Car ID">
    </tr>
    <tr>
      <input type="text" th:name="price" id="price" placeholder="Repair Price">
    </tr>

    <tr>
      <button type="submit">Submit TestResult</button>
    </tr>
    <tr>
      <a href="/reg-main"><button type="button">Cancel</button></a>
    </tr>
  </table>
</form>
  <h1>Return Test Page</h1>
<footer th:replace="fragments::footer"></footer>
</body>
</html>


